.basic-product-info {
	margin: 1em 0 0;
	.product-pic-wrapper {
		width: 128px;
		height: 128px;
		margin: 0 auto;

		.product-pic {
			width: 100%;
			height: auto;
		}
	}

	.product-info-wrapper {
		margin: 1em 0 0;
		padding: 0 1em;
		text-align: center;

		& > [class*='product-'] {
			float: left;
			width: 100%;
		}

		.product-name {
			font-size: 1.2em;
			font-weight: 600;
			line-height: 1.15;
		}

		.product-barcode {
			margin: 1em 0 0;
			font-size: 0.8em;
			font-weight: 600;
			color: $muted;
		}
	}
}

.quantity-selector-wrapper {
	float: left;
	width: 100%;

	.quantity-selector {
		position: relative;
		width: $touchTarget*3;
		margin: 0 auto;

		.change-quant {
			position: absolute;
			top: 0;
			width: auto;
			min-width: $touchTarget;

			&.decrease {
				left: 0;
			}
			&.increase {
				right: 0;
			}
		}

		.quantity {
			position: relative;
			width: 100%;
			height: $touchTarget;
			padding: 0 $touchTarget;

			font-size: 1.5em;

			font-weight: 600;
			line-height: $touchTarget - 5pt;
			text-align: center;

			border-top: 1px solid $muted;
			border-bottom: 1px solid $muted;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:after {
				content: 'kpl.';
				position: absolute;
				bottom: -1em;
				left: 0;
				width: 100%;
				color: $muted;
				font-size: 0.5em;
				text-align: center;
			}
		}
	}
}