.search-results-container {
	padding: 0 0 60pt;
	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-result {
  &.active {
    background: $green;
    border-color: darken($green, 10%);
    color: $white;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}