$height: 57pt;
$padding: 6pt;
.list-item {
  float: left;
  width: 100%;
  height: $height;
  overflow: hidden;




  .top {
    position: relative;
    width: 100%;
    height: $height;

    padding: ($padding / 2) $padding;

    border-bottom: 1px solid $mutedDark;
    @include vendor-prefix(box-sizing, border-box);

    & > * {
      @include vendor-prefix(box-sizing, border-box);
    }
  }

  .controls {
    height: $height;
    background: $mutedWhite;
  }

  .open {
    height: $height*2;
  }

}

.list-item-pic-wrapper {
  position: absolute;
  left: 0;

  width: $height;
  height: $height;

  .list-item-pic {
    $picSize: 64px;
    $margin: (($height - $picSize)/2);
    width: $picSize;
    height: $picSize;

    margin: $padding/2 0 0 $padding;
  }
}

.list-item-text-wrapper {
  position: absolute;
  left: 0;
  height: 100%;

  padding: 3pt 57pt;

  p {
    margin: 0;
    line-height: 1.15;
  }

  .text-brand {
    &:first-letter {
      text-transform: capitalize;
    }

    color: $mutedDark;
  }

  .text-name {
    display: -webkit-box;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.list-item-quantity-wrapper {
  position: absolute;
  right: 28pt;
  width: 28pt;

  height: 100%;

  .list-item-quantity {
    position: relative;
    display: block;
    font-size: 3em;
    line-height: 1.2;
    text-align: center;

    &:after {
      position: absolute;
      bottom: -5pt;
      left: 0;
      width: 100%;
      content: "kpl.";
      font-size: 1rem;
      color: $mutedDark;
    }
  }
}

.list-item-dropdown-button {
  @extend .list-item-quantity-wrapper;
  right: 0;
  background: $black;
}