.switch-wrapper {
	$constant: 12pt;
	height: $touchTarget;
	width: $touchTarget;

	.switch {
		position: relative;
		background: #ccc;
		width: 100%;
		height: $constant;

		width: $constant*2;
		margin: (($touchTarget/2)-($constant/2)) $constant/2 0;

		border: 1px solid $muted;

		-webkit-border-radius: $constant/2;
		-moz-border-radius: $constant/2;
		border-radius: $constant/2;


		-webkit-transition: background 0.4s ease;
		-moz-transition: background 0.4s ease;
		-ms-transition: background 0.4s ease;
		-o-transition: background 0.4s ease;
		transition: background 0.4s ease;
	}

	@-webkit-keyframes stretchKnob {
		0% {
			width: $constant;
		}

		50% {
			width: $constant*10;
		}

		100% {

			width: $constant;
		}
	}

	.knob {
		position: absolute;
		top: -1pt;
		left: -1pt;

		width: $constant+2pt;
		height: $constant+2pt;
		background: $white;

		border: 1px solid #aaa;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		//-webkit-transform: translate3d($constant, 0, 0);

		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;

		-webkit-animation: 0.2s stretchKnob;
		-o-animation: 0.2s stretchKnob;
		animation: 0.2s stretchKnob;


	}

	&.on {
		.switch {
			background: $green;
			border-color: darken($green, 20%);
		}
		.knob {
			-webkit-transform: translate3d($constant, 0, 0);
			-moz-transform: translate3d($constant, 0, 0);
			-ms-transform: translate3d($constant, 0, 0);
			-o-transform: translate3d($constant, 0, 0);
			transform: translate3d($constant, 0, 0);


		}
	}


	&.disbled {
		.switch {
			background: $offWhite;
		}
		.knob {
			background: $offWhite;
		}
	}
}