.go-shopping-button {
  $dimension: 100pt;

  position: absolute;
  top: -10pt;
  left: 50%;

  width:  $dimension;
  height: $dimension;
  margin: 0 0 0 $dimension*-0.5;

  @include gradient-reverse($blue, 20%);

  border: 8px solid lighten($blue, 10%);

  font-size: 2.5em;
  line-height: $dimension/2;

  text-align: center;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}