.well {
	margin: 1em 2.5%;
	width: 95%;
	padding: 2em;

	background: #dfdfdf;
	border: 1px solid #ccc;


	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}