/*
.alert {
	$dimension: 35pt;
	position: relative;
	float: left;
	width: 95%;
	margin: 1em 2.5% 0;
	padding: 0.5em 0.5em 1em;

	background: darken(#FCD116, 7%);
	color: rgba(255, 255, 255, 1);

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	h3 {
		margin: 0 0 0.5em;

		font-size: 1.5em;
		font-weight: 400;
		line-height: 1;

		&:first-letter {
			text-transform: capitalize;
		}
	}

	.close {

		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: $dimension;
		height: $dimension;
		color: inherit;
		text-decoration: none;
		font-size: 1.5em;
		line-height: $dimension;
		text-align: center;
	}

	&.app-global {
		position: absolute;
		top: $topBarHeight + (round($topBarHeight*0.025));
		right: 2.5%;
		left: 2.5%;
		min-height: $dimension;
	}

	&.warning {
		background: #E22E07;
	}

	&.info {
		background: #009DDC;
	}

	&.success {
		background: #5BB75B;
	}
}
*/
