<div id="menu" class="app-menu" ng-controller="MenuCtrl">
	<div class="app-menu-item x2" ng-controller="MenuProfileCtrl">
		<div class="nav-profile">
			<div class="avatar-wrapper">
				<img class="avatar" src="{{ user.avatar_url }}" alt="user avatar">
			</div>
			<div class="info-wrapper">
				<div class="user-info-wrapper">
					<div class="user-info-name">{{ user.name }}</div>
					<div class="user-info-email">{{ user.email }}</div>
				</div>
				<div class="stats-info-wrapper">
					<div class="stats-info-item">
						<div class="stats-item-value">{{ $formatPrice(user.stats.total_saved) }}&euro;</div>
						<div class="stats-item-label">säästetty</div>
					</div>
					<div class="stats-info-item">
						<div class="stats-item-value">{{ user.stats.shopping_trips }}</div>
						<div class="stats-item-label">ostoskerrat</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="app-menu-item" ng-click="go('/list')">
        <div class="app-menu-item-icon-wrapper"><i class="icon-list"></i></div>
        <div class="app-menu-item-text-wrapper">
            Ostoslista
        </div>
        <div class="app-menu-item-notification">
            <b class="notification inverse">{{ list.attrs.count }}</b>
        </div>
    </div>
    <div class="app-menu-item location-menu-item" ng-click="go('/location')" ng-controller="MenuLocationCtrl">

        <div class="app-menu-item-icon-wrapper"><i class="icon-location-arrow"></i></div>
        <div class="app-menu-item-text-wrapper">
            <span class="app-menu-item-label">Paikannus</span>
            <span class="sub current-location">{{ location.current }}</span>
        </div>
        <div class="app-menu-item-notification">
            <b class="notification inverse">{{ location.count }}</b>
        </div>
    </div>
	<div class="btn-container">
    	<button class="btn block danger menu-logout" ng-click="logout()">Kirjaudu ulos</button>
	</div>
</div>