<div class="app-page" ng-cloak>
	<div class="title-bar">

		<a class="btn bar" ng-if="!!inList" ng-click="$path('/list')"><i class="icon-chevron-left"></i></a>
		<a class="btn bar" ng-if="!inList" ng-click="$path('/search')"><i class="icon-chevron-left"></i></a>
		<a class="btn bar search" href="#/search"><i class="icon-search"></i></a>

		<div class="page-title">Tuotetiedot</div>
	</div>
	<div on-alert alert="alert"></div>
	<div class="app-content" id="productPage">
		<div class="content-wrapper">
			<header class="basic-product-info">
				<div class="product-pic-wrapper">
					<img class="product-pic" src="http://ostosnero.com/images/full/{{ productInfo.product_thumb }}"
						 alt="{{ productInfo.name }}"/>
				</div>
				<div class="product-info-wrapper">
					<span class="product-name">{{ productInfo.product_name }}</span>
					<span class="product-barcode">EAN: {{ productInfo.barcode }}</span>
				</div>
			</header>

		</div>
		<div class="content-wrapper">
			<div class="quantity-selector-wrapper" ng-show="inList">
				<div class="quantity-selector">
					<div class="quantity">{{ productInfo.quantity }}</div>
					<button class="btn cta change-quant decrease" ng-click="changeQuantity(productInfo.list_item_id, -1)"><i class="icon-minus"></i>
					</button>
					<button class="btn cta change-quant increase" ng-click="changeQuantity(productInfo.list_item_id, 1)"><i class="icon-plus"></i>
					</button>
				</div>
			</div>

			<div class="btn-container" ng-hide="inList">
				<button id="prodInfoAddBtn" class="btn cta" ng-click="addProduct()">Lisää tuote ostoslistalle <i class="icon-spin icon-refresh" ng-if="isAddingProduct"></i></button>
			</div>
		</div>
		<div class="content-wrapper">
			<div id="local-prices" class="list-wrapper content-view">
				<h3 class="list-label">Lähikauppojen hinnat</h3>

				<div class="list">
					<div ng-repeat="price in prices" class="list-item" ng-class="{'user-location': price.user}">

						<div class="list-item-text">
							<span class="list-item-label">
								<strong>{{ price.shop_chain }}</strong>
								{{ price.shop_location }}
							</span>
						</div>

						<div class="interaction-wrapper">

							<div class="interaction">
								<form ng-submit="updatePrice(price)">
									<input class="inline" type="text" ng-model="price.price" placeholder="Paivitä hinta">
								</form>
							</div>
							<div class="interaction list-item-button" ng-class="{'success': !!price.updated}" ng-click="refreshLocation()">
								<i ng-class="{'icon-ok': !!price.updated, 'icon-eur': !price.updated && !price.waiting, 'icon-refresh': !!price.waiting, 'icon-spin': !!price.waiting}"></i>
							</div>

						</div>

					</div>
				</div>
			</div>


		</div>

		<div class="loading" ng-hide="productInfo!=undefined"><i class="icon-ellipsis-horizontal"></i></div>
	</div>

	<div class="toolbar">
		<a class="btn bar home" href="#"><i class="icon-home"></i></a>
	</div>
	<!--<div class="alert" ng-if="errors.length">
		<a class="close" ng-click="$close()">&times;</a>

		<h3>Alert</h3>
		<div ng-repeat="error in errors">
			{{ error }}
		</div>
	</div>-->
</div>