<div class="app-page start-page">
    <h2>Luo uusi tilli</h2>



    <form id="signup-form-01" name="signupForm" ng-submit="submit()">
        <fieldset>
            <div class="input-icon">
                <i class="icon-envelope-alt"></i>
                <input class="input block" type="email" placeholder="Sähköpostiosoite" name="passInput" ng-model="registerEmail">
            </div>
            <div class="input-icon">
                <i class="icon-user"></i>
                <input class="input block" type="text" placeholder="Nimimerkki" autocapitalize="off" autocorrect="off" ng-model="registerUser">
            </div>

        </fieldset>

        <fieldset>
            <div class="input-icon">
                <i class="icon-lock"></i>
                <input class="input block" type="password" placeholder="Salasana" id="pass" name="pass" ng-model="registerPass">
				<a class="btn flat pass-reveal" ng-click="$showPass(signupForm.pass)"><i class="icon-eye-close"></i></a>
            </div>
        </fieldset>
        <div class="btn-group">
            <a href="#" class="btn sub"><i class="icon-chevron-left"></i></a>
            <button class="btn sup" type="submit">Valmis <i class="icon-refresh icon-spin" ng-show="!!loading"></i></button>
        </div>
    </form>
    <div class="label" ng-show="signupForm.$error.message && signupForm.$dirty">
        <a href="#" class="close" ng-click="hideError()">&times;</a>
        {{signupForm.$error.message}}
    </div>
</div>