<div ng-include src="'views/menu.html'"></div>
<div class="app-page">
    <div class="title-bar">
        <a class="btn bar" ng-click="$path('/list')"><i class="icon-chevron-left"></i></a>
        <a class="btn bar search" href="#/search"><i class="icon-search"></i></a>

        <div class="page-title">Optimoitu lista</div>
    </div>
    <div class="app-content sort-view" id="sort-container">

        <div class="sorted-list-nav-wrapper">
            <div class="sorted-list-nav">
				<div class="sorted-list-nav-item-wrapper" ng-repeat="shop in sortedProducts.shops">
					<div class="sorted-list-nav-item" ng-click="navLinkScrollTo($index)" ng-class="{current: $index == currentList}">
						<div class="sorted-list-nav-item-chain">
							{{ shop.attributes.chainName }}
						</div>
						<div class="sorted-list-nav-item-location">
							{{ shop.attributes.chainLocation }}
						</div>
					</div>
				</div>

				<div class="sorted-list-nav-item" ng-click="navLinkScrollTo(sortedProducts.attributes.num_shops + 1)" ng-class="{current: sortedProducts.attributes.num_shops == currentList}">
					<strong>Yhteenveto</strong>
				</div>
            </div>
        </div>
        <div id="sorted-list-content">
            <div class="sorted-list-wrapper" id="sorted-list-panning">

                <div id="shop-{{ shop.attributes.id }}" class="sorted-list-shop-wrapper" ng-repeat="shop in sortedProducts.shops">
                    <div class="sorted-list-shop">

                        <div class="sorted-list-item-wrapper" ng-class="{checked:  product.checkedOut == 1}" ng-repeat="product in shop.listItems">
                            <div class="sorted-list-item-head">


                                <div class="sorted-list-item-info-wrapper">{{ product.name }}</div>


                                <div class="sorted-list-item-quantity-wrapper">
                                    {{ product.quantity }}
                                </div>


                                <div class="sorted-list-item-check-wrapper">
                                    <button class="btn checkout" ng-class="{success: product.checkedOut == 1}" ng-click="checkout(product, sortedProducts.attributes.token)">
										<i ng-class="{'icon-shopping-cart': product.checking == undefined || product.checking == 0, 'icon-refresh': product.checking == 1, 'icon-spin': product.checking == 1}"></i>
									</button>
                                </div>
                            </div>
                            <div class="sorted-list-item-sub">
                                <div class="sorted-list-item-sub-pic-wrapper">
                                    <img class="sorted-list-item-sub-pic" src="" alt="{{ product.name }}"/>
                                </div>
                                <div class="sorted-list-item-sub-price-wrapper">
                                    <span class="sorted-list-item-sub-price">{{ product.price }}</span>
                                </div>
                                <div class="sorted-list-item-sub-secondary-costs-wrapper">
                                    <span class="sorted-list-item-sub-price-each-wrapper">{{ product.price }}</span>
                                    <span class="sorted-list-item-sub-price-volume-wrapper">{{ product.price }}</span>
                                </div>

                            </div>
                        </div>
						<div class="label info">swipe to change list <i class="icon-arrow-right"></i></div>
                    </div>
                </div>





				<div id="shop-checkout-summary" class="sorted-list-shop-wrapper" ng-controller="CheckoutCtrl">
					<div class="well checkout-sums">
						<div class="checkout-sum-wrapper">
							<div class="checkout-sum checkout-sum-saved">{{ saved() }}&euro;
								<span class="checkout-sum-label">Säästetty</span>
							</div>
						</div>
						<div class="checkout-sum-wrapper">
							<div class="checkout-sum checkout-sum-total">
								{{ sum() }}&euro;
								<span class="checkout-sum-label">Ostosten summa</span>
							</div>
						</div>

					</div>
					<div class="checkout-lists" id="checkout-lists">
						<div class="list-wrapper" ng-repeat="shop in checked">
							<div class="list list-dropdown" ng-class="{collapsed: shop.open == false || shop.open == undefined}">
								<div class="list-head" ng-click="toggle(shop)">
									<div class="list-head-text-wrapper">
										<div class="checkout-shop-info">{{ shop.shopLocation }} <strong>{{ shop.shopName }}</strong></div>
										<div class="checkout-shop-total"></div>
										<div class="checkout-shop-saved"></div>
									</div>
									<div class="list-head-quant-wrapper"><div class="notification list-head-quant">{{ shop.quantity }}</div></div>
								</div>


								<div class="list-item" ng-repeat="product in shop.products">
									{{ product.productName }}-{{ product.price }}
								</div>



							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

    </div>

    <div class="toolbar">
        <a class="btn bar home" href="#"><i class="icon-home"></i></a>
    </div>
</div>