$listHeight: 57pt;
.list-item-wrapper {
	position: relative;
	//float: left;
	width: 100%;
	height: $listHeight;

	overflow: hidden;

	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;

	&.expanded {
		//height: $listHeight + $touchTarget;
		height: $listHeight*2;

		.list-item-menu {
			opacity: 1;
		}
	}

	.list-item {

		height: $listHeight;
		background: $white;

		border-bottom: 1px solid #dfdfdf;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		//overflow: hidden;

		&:after {
			content: "\f0da";

			position: absolute;
			right: 2px;
			top: 50%;

			margin: -6px 0 0;

			font-family: 'FontAwesome';
			font-size: 12px;
			color: $lightGrey;

		}

		/*  & > a {
			display: block;
			height: 100%;
		  }*/

		.list-item-thumb-wrapper {
			position: absolute;
			left: 6px;
			top: 6px;

			width: 64px;
			height: 64px;

			.list-item-thumb {
				max-width: 100%;
				height: auto;
			}
		}

		.list-item-menu-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			width: $touchTarget;
			height: 100%;
			color: $muted;

			.btn {
				height: 57pt;
				line-height: $listHeight;
				font-size: 1.5em;
				min-width: 0;

				&.open {
					color: $blue;

					[class^="icon-"] {
						text-shadow: 0 0 4px rgba($blue, 0.5);
					}
				}
			}
		}

		.list-item-quantity-wrapper {
			position: absolute;
			right: 27pt;
			width: 27pt;

			text-align: center;
			line-height: 50pt;

			.list-item-quantity {
				font-size: 1.7em;
				font-weight: 600;
			}

			small {
				position: absolute;
				top: 18px;
				left: 0;
				width: 100%;
				font-size: 0.6em;
				font-weight: 600;
				color: $muted;
			}
		}

		.list-item-info-wrapper {
			float: left;
			width: 100%;

			padding: 0 (27pt * 2) 0 64px;

			line-height: 1.15;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			& > * {
				float: left;
				width: 100%;
				padding: 0 10px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

			}

			.list-item-brand {
				margin: 5px 0 0;
				font-size: 0.75em;
				font-weight: 600;
				color: $muted;

				&:first-letter {
					text-transform: capitalize;
				}
			}

			.list-item-name {
				max-width: 33em;
				margin: 5px 0 0;
				hyphens: auto;
				text-align: left;
				-webkit-hyphens: auto;
				-webkit-hyphenate-character: "\2010";
				-webkit-hyphenate-limit-after: 1;
				-webkit-hyphenate-limit-before: 2;
				-moz-hyphens: auto;

				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;

			}
		}

		.list-item-interactions-wrapper {
			position: absolute;
			right: 10pt;
			top: 0;

			height: $listHeight;

			.list-item-add {
				height: 100%;
				line-height: $listHeight;
				width: $touchTarget;
			}
		}
	}
}

.list-item-menu {
	//$height: $touchTarget;
	$height: $listHeight;
	//display: none;

	//z-index: 100;
	//overflow-y: visible;
	opacity: 0;
	width: 100%;
	height: $height;
	background: $offWhite;
	//border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	color: $black;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.btn {
		float: left;
		width: 25%;
		height: $listHeight;
		font-size: 1.5em;
		line-height: $height;

		&.del {
			color: $red;
		}

		&.info {
			color: $blue;
		}
	}

}