$navHeight: 40pt;
$listItemHeight: 45pt;
$btnMargin: ($listItemHeight - $touchTarget)/2;

.sort-view {

	overflow: hidden;
	white-space: nowrap;
}

#sorted-list-content {
	//float: left;
	position: relative;
	top: $navHeight;
	height: 100%;
	//padding: 0 0 $toolbarHeight;
	//padding: $navHeight 0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sorted-list-wrapper {
	//display: table;
	float: left;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.sorted-list-shop-wrapper {
		display: inline-block;

		height: 100%;
		padding: 0 0;
		vertical-align: top;

		.sorted-list-shop {
			float: left;
			width: 100%;
			height: 100%;
		}
	}

	.sorted-list-item-wrapper {
		position: relative;
		float: left;
		height: $listItemHeight;
		width: 100%;
		white-space: normal;



		.sorted-list-item-head {
			height: $listItemHeight;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			box-shadow: 0 1px 0 $white inset,
				0 -1px 0 $black25 inset;

			@include gradient-reverse(#dfdfdf, 5%);

			.sorted-list-item-info-wrapper {




				position: absolute;
				top: 0;
				left: 0;
				right: 85pt;
				bottom: 0;
				padding: 0.25em 1em 0;
				font-size: 1.2em;
				font-weight: 600;
				line-height: 1;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				-webkit-hyphens: auto;
				-webkit-hyphenate-character: "\2010";
				-webkit-hyphenate-limit-after: 1;
				-webkit-hyphenate-limit-before: 2;
				-moz-hyphens: auto;
				-moz-hyphenate-character: "\2010";
				hyphens: auto;
				hyphenate-character: "\2010";
				hyphenate-limit-after: 1;
				hyphenate-limit-before: 2;


				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.sorted-list-item-quantity-wrapper {
				position: absolute;

				top: $btnMargin * 2;
				right: 45pt;

				width: 40pt;

				font-size: 1.75em;
				font-weight: 600;
				line-height: 0.7;

				text-align: center;

				&:after {
					content: "kpl.";

					display: inline-block;
					width: 100%;
					font-size: 0.5em;
					color: $muted;
				}
			}

			.sorted-list-item-check-wrapper {

				position: absolute;
				top: $btnMargin;
				right: 5pt;

				width: 40pt;

				.checkout {
					margin: 0 $btnMargin 0 0;
				}

			}
		}

		&.checked {
			.sorted-list-item-head {
				color: $white;

				@include gradient-reverse($green, 5%);
			}

		}

		.sorted-list-item-sub {
			display: none;

		}

	}
}

// the bit that it scrolls inside of
.sorted-list-nav-wrapper {
	position: absolute;
	top: $topBarHeight;

	right: 0;
	left: 0;

	height: $navHeight;

	background: #EEE;
	border-bottom: 1px solid #ccc;

	box-shadow: 0 -2px 2px $black25, 0 -2px 0 $muted inset;

	overflow: hidden;

	// the bit that scrolls
	.sorted-list-nav {
		height: $navHeight;
		padding: 0 $navHeight/2;

		.sorted-list-nav-item {
			float: left;
			width: $navHeight * 2;
			height: $navHeight - 2pt;

			padding: 1pt;

			text-align: center;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			.sorted-list-nav-item-chain {

			}

			.sorted-list-nav-item-location {

			}

			&.current {
				background: $black;
				color: $white;
			}

		}
	}
}

.checkout-lists {

	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
