.title-bar {
  $height: $topBarHeight;

  position: relative;
  z-index: 1000; // lifts it above the app-content element
  float: left;
  width: 100%;
  height: $height;

  background: $blue;
  color: $white;

  .page-title {
    float: left;
    width: 100%;
    text-align: center;
    line-height: $height;
    padding: 0 35pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .btn {
	position: absolute;
    height: 100%;
    width: $touchTarget;

    box-shadow: none;
    background: transparent;
    line-height: $height;
    font-size: 24pt;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
  }

  .search {
    @extend .menu;
    left: auto;
    right: 0;
  }
}