.list-wrapper {
	float: left;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	& + .list-wrapper {
		margin: 3.2rem 0 0;
	}

	.list-label {
		margin: 0 0 0.5em;

		font-size: 0.9em;
		font-weight: 600;
		text-indent: 0.5em;
		text-transform: uppercase;
	}

	.list {
		border: 1px solid #ccc;

		background: $white;

		overflow: hidden;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

	.list-item {
		position: relative;
		height: $touchTarget;
		padding: 0 0.5em;

		overflow: hidden;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&+.list-item {
			border-top: 1px solid #ccc;
		}

		&.icon {
			padding-left: $touchTarget;
		}

		&:nth-of-type(even) {
			background: darken($white, 2.5%);
		}

		.list-item-icon {
			position: absolute;
			left: 0;
			top: 0;

			width: $touchTarget;
			height: $touchTarget;

			text-align: center;
			line-height: $touchTarget;
			font-size: 1.5em;
		}

		.list-item-label {
			display: inline-block;
			width: 100%;
			text-transform: capitalize;
			font-weight: 400;
			line-height: 1;
			white-space: nowrap;
			overflow: hidden;
			/*
				TODO: fix line-height and label formatting
			*/
		}

		.list-item-info {
			display: inline-block;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			line-height: 1;
			font-size: 0.8em;
			color: $muted;

		}

		.interaction-wrapper {
			position: absolute;
			top: 0;
			right: 1em;

			.interaction {
				float: left;
				min-width: $touchTarget;
				text-align: center;
				line-height: $touchTarget;

				&.success {
					color: $green;
				}
			}
		}
	}

	.list-dropdown {
		width: 95%;
		height: auto;
		margin: 0 2.5%;

		.list-head {
			position: relative;
			height: $touchTarget;
			padding: 0 0.5em;

			overflow: hidden;

			background: $blue;
			color: $white;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			.list-head-text-wrapper {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				padding: 0 60% 0 0.5em;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			.list-head-quant-wrapper {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 60%;

				.list-head-quant {
					$margin: ($touchTarget/2) - ($touchTarget/4);
					margin: $margin 0 0;
				}
			}

		}
		.list-item {
			display: block;
			border-left: 3px solid $blue;
		}
		&.collapsed {
			height: $touchTarget;
			overflow: hidden;
			.list-item {
				display: none;
			}
		}
	}
}


.checkout-shop-info {
	//width: ;
}

